@model X.PagedList.PagedList<Category>
@using X.PagedList.Mvc.Core;
@using X.PagedList;
<div class="container p-3">
    <div class="row justify-content-end">
        <div class="col-6">
            <h2>Category list</h2>
        </div>
        <div class="col-3 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-success"><i class="bi bi-plus"></i></a>
        </div>
    </div>
</div>
@using (Html.BeginForm("Index", "Category", FormMethod.Get, new { }))
{
    <div class="input-group">
        @Html.TextBox("Searchtext", "", new { @class = "form-control", placeholder = "Type Something To Search" })
        <div class="input-group-append">
            <input type="submit" class="btn btn-info" value="Search" style="margin-left: 5px;">
        </div>
    </div>
}
<table class="table table-bordered table-striped">
    <thead class="items">
        <tr>
            <th>ID</th>
            <th class="name-item">Name</th>
            <th>Create Day</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            var i = ((ViewBag.Page - 1) * ViewBag.PageSize) + 1;
            foreach (var items in Model)
            {
                <tr id="trow_@items.Id">
                    <td class="text-center">@i</td>
                    <td class="text-center">@items.Name</td>
                    <td class="text-center">@items.CreateDatetime</td>
                    <td class="text-center">
                        <a href="@items.Id" class="btn btn-sm btn-warning">UPDATE</a>
                        <a href="@items.Id" class="btn btn-sm btn-danger btnDelete">DELETE</a>
                    </td>
                </tr>
                i++;
            }
        }
        else
        {
            <tr>
                <td colspan="4">No value!!!</td>
            </tr>
        }
    </tbody>   
</table>
<div class="row">
    <div class="col-6"></div>
    <div class="col-6" style="text-align:right;">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
</div>