@model IEnumerable<Idea>
@foreach (var obj in Model)
{
    if (ViewBag.TopicId == obj.TopicId)
    {
        <tr>
            <td class="new-items">@obj.Title</td>
            <td class="new-items">@obj.Description</td>
            <td class="new-items">@obj.Views</td>
            <td class="new-items">@obj.Likes</td>
            <td class="new-items">@obj.Dislikes</td>
            <td class="action">
                <a class="btn btn-outline-warning" asp-action="Detail" asp-route-id=@obj.Id>Detail</a>
                <a class="btn btn-outline-info">Like</a>
                <a class="btn btn-outline-danger">Dislike</a>
                <a class="btn btn-info">Like</a>
                <a class="btn btn-danger">Dislike</a>
            </td>
        </tr>
    }
}