@model CollectingIdeas.Models.ViewModel.HomeVM
@{
	ViewData["Title"] = "Home Page";
}

<div class="content">
	<section class="full-width">
		<!-- Left-col-start-->
		<div class="left-col">
			<div class="widgetContainer">
				<div class="widgetContent">
					<div id="photos" class="galleryview withOutThumbs">
						<figure>
							<img src="/css/Img/box2.jpg" />
						</figure>
						<figure>
							<img src="/css/Img/box2.jpg" />
						</figure>
						<figure>
							<img src="/css/Img/box3.png" />
						</figure>
						<figure>
							<img src="/css/Img/box4.png" />
						</figure>
					</div>
				</div>
			</div>
			<br />
			<!-- Left-col-one-start-->
			<div class="left-col-one">
				<section class="most-view">
					<div class="title-1">
						<h2 class="sub-title">Most Views</h2>
					</div>
					<div class="container-for-heading">
						@foreach (var item in Model.MostViews)
						{
							<div class="new-block">
								<div class="d-flex w-100 justify-content-between">
									<div class="account-user">
										<a class="account-avatar">
											@if (item.isDisplay == true && item.ApplicationUser.isDelete == false)
											{
												<img src="@item.ApplicationUser.Path" class="account-avatar-image" />
											}
											else
											{
												<img src="/AccountProfile/acc (0).jpg" class="account-avatar-image" />
											}
										</a>
										<div class="account-detail">
											<a href="#" class="username-post">
												@if (item.ApplicationUser.isDelete == true)
												{
													<p class="usersname">This account has been blocked</p>
												}
												else
												{
													if (item.isDisplay == true)
													{
														<p class="usersname">@item.ApplicationUser.FirstName @item.ApplicationUser.LastName</p>
													}
													else
													{
														<p class="usersname">Anonymous</p>
													}
												}
											</a>
											<small class="date">
												@{
													var myMessage = "Hello World";
													TimeSpan ts = DateTime.Now - item.CreateDatetime;
													int differenceInDays = ts.Days;
													if (differenceInDays >= 1)
													{
														myMessage = differenceInDays + " days";
													}
													else
													{
														int differenceInHours = ts.Hours;
														if (differenceInHours >= 1)
														{
															myMessage = differenceInHours + " hours";

														}
														else
														{
															int differenceInMinutes = ts.Minutes;
															myMessage = differenceInMinutes + " minutes";
														}
													}
												}
												@myMessage ago
											</small>
										</div>
									</div>
									<h4 class="header-idea">@item.Title</h4>
								</div>
								<hr />
								<p class="mb-1">@item.Description</p>
								<div class="button-list">
									<a class="arrow" href="/Idea/Detail/@item.Id">
										Read more
										<i class='bx bx-chevron-right'></i>
									</a>
									<span class="badge bg-primary rounded-pill"><i class="fa fa-eye"></i>@item.Views</span>
									<span class="badge bg-success rounded-pill"><i class="fa fa-thumbs-up"></i>@item.Likes</span>
									<span class="badge bg-danger rounded-pill"><i class="fa fa-thumbs-down"></i>@item.Dislikes</span>
								</div>
								<div class="clear"></div>
							</div>
						}
					</div>
				</section>
				<section class="comment">
					<div class="title-4">
						<h2 class="sub-title">Lastest Comment</h2>
					</div>
					<div class="container-for-heading">
						@foreach (var item in Model.LatestComments)
						{
							<div class="new-block">
								<div class="d-flex w-100 justify-content-between">
									<div class="account-user">
										<a class="account-avatar">
											@if (item.isDisplay == true && item.ApplicationUser.isDelete == false)
											{
												<img src="@item.ApplicationUser.Path" class="account-avatar-image" />
											}
											else
											{
												<img src="/AccountProfile/acc (0).jpg" class="account-avatar-image" />
											}
										</a>
										<div class="account-detail">
											<a href="#" class="username-post">
												@if (item.ApplicationUser.isDelete == true)
												{
													<p class="usersname">This account has been blocked</p>
												}
												else
												{
													if (item.isDisplay == true)
													{
														<p class="usersname">@item.ApplicationUser.FirstName @item.ApplicationUser.LastName</p>
													}
													else
													{
														<p class="usersname">Anonymous</p>
													}
												}
											</a>
											<small class="date">
												@{
													var myMessage = "Hello World";
													TimeSpan ts = DateTime.Now - item.CreateDatetime;
													int differenceInDays = ts.Days;
													if (differenceInDays >= 1)
													{
														myMessage = differenceInDays + " days";
													}
													else
													{
														int differenceInHours = ts.Hours;
														if (differenceInHours >= 1)
														{
															myMessage = differenceInHours + " hours";

														}
														else
														{
															int differenceInMinutes = ts.Minutes;
															myMessage = differenceInMinutes + " minutes";
														}
													}
												}
												@myMessage ago
											</small>
										</div>
									</div>
									<h4 class="header-idea">@item.Idea.Title</h4>
								</div>
								<hr />
								<p class="mb-1">@item.Content</p>
								<div class="button-list">
									<a class="arrow" href="/Idea/Detail/@item.Idea.Id">
										Read more
										<i class='bx bx-chevron-right'></i>
									</a>
								</div>
								<div class="clear"></div>
							</div>
						}
					</div>
				</section>
			</div>
			<!-- Left-col-one-end-->
			<!-- Left-col-two-start-->
			<div class="left-col-two">
				<section class="popular-view">
					<div class="title-2">
						<h2 class="sub-title">Most Popular</h2>
					</div>
					<div class="container-for-heading">
						@foreach (var item in Model.MostPopular)
						{
							<div class="new-block">
								<div class="d-flex w-100 justify-content-between">
									<div class="account-user">
										<a class="account-avatar">
											@if (item.isDisplay == true && item.ApplicationUser.isDelete == false)
											{
												<img src="@item.ApplicationUser.Path" class="account-avatar-image" />
											}
											else
											{
												<img src="/AccountProfile/acc (0).jpg" class="account-avatar-image" />
											}
										</a>
										<div class="account-detail">
											<a href="#" class="username-post">
												@if (item.ApplicationUser.isDelete == true)
												{
													<p class="usersname">This account has been blocked</p>
												}
												else
												{
													if (item.isDisplay == true)
													{
														<p class="usersname">@item.ApplicationUser.FirstName @item.ApplicationUser.LastName</p>
													}
													else
													{
														<p class="usersname">Anonymous</p>
													}
												}
											</a>
											<small class="date">
												@{
													var myMessage = "Hello World";
													TimeSpan ts = DateTime.Now - item.CreateDatetime;
													int differenceInDays = ts.Days;
													if (differenceInDays >= 1)
													{
														myMessage = differenceInDays + " days";
													}
													else
													{
														int differenceInHours = ts.Hours;
														if (differenceInHours >= 1)
														{
															myMessage = differenceInHours + " hours";

														}
														else
														{
															int differenceInMinutes = ts.Minutes;
															myMessage = differenceInMinutes + " minutes";
														}
													}
												}
												@myMessage ago
											</small>
										</div>
									</div>
									<h4 class="header-idea-2">@item.Title</h4>
								</div>
								<hr />
								<p class="mb-1">@item.Description</p>
								<div class="button-list">
									<a class="arrow" href="/Idea/Detail/@item.Id">
										Read more<i class='bx bx-chevron-right'></i>
									</a>
									<span class="badge bg-primary rounded-pill"><i class="fa fa-eye"></i>@item.Views</span>
									<span class="badge bg-success rounded-pill"><i class="fa fa-thumbs-up"></i>@item.Likes</span>
									<span class="badge bg-danger rounded-pill"><i class="fa fa-thumbs-down"></i>@item.Dislikes</span>
								</div>
								<div class="clear"></div>
							</div>
						}
					</div>
				</section>

			</div>
			<!-- Left-col-two-end-->
		</div>
		<!-- Left-col-end-->
		<!-- Right-col-start-->
		<div class="right-col">
			<section class="latest-ideas">
				<div class="title-3">
					<h2 class="sub-title">Latest Ideas</h2>
				</div>
				<div class="container-for-heading">
					@foreach (var item in Model.LatestIdeas)
					{
						<div class="new-block">
							<div class="d-flex w-100 justify-content-between">
								<div class="account-user">
									<a class="account-avatar">
										@if (item.isDisplay == true && item.ApplicationUser.isDelete == false)
										{
											<img src="@item.ApplicationUser.Path" class="account-avatar-image" />
										}
										else
										{
											<img src="/AccountProfile/acc (0).jpg" class="account-avatar-image" />
										}
									</a>
									<div class="account-detail">
										<a href="#" class="username-post">
											@if (item.ApplicationUser.isDelete == true)
											{
												<p class="usersname">This account has been blocked</p>
											}
											else
											{
												if (item.isDisplay == true)
												{
													<p class="usersname">@item.ApplicationUser.FirstName @item.ApplicationUser.LastName</p>
												}
												else
												{
													<p class="usersname">Anonymous</p>
												}
											}
										</a>
										<small class="date">
											@{
												var myMessage = "Hello World";
												TimeSpan ts = DateTime.Now - item.CreateDatetime;
												int differenceInDays = ts.Days;
												if (differenceInDays >= 1)
												{
													myMessage = differenceInDays + " days";
												}
												else
												{
													int differenceInHours = ts.Hours;
													if (differenceInHours >= 1)
													{
														myMessage = differenceInHours + " hours";

													}
													else
													{
														int differenceInMinutes = ts.Minutes;
														myMessage = differenceInMinutes + " minutes";
													}
												}
											}
											@myMessage ago
										</small>
									</div>
								</div>
								<h4 class="header-idea-3">@item.Title</h4>
							</div>
							<hr />
							<p class="mb-1">@item.Description</p>
							<div class="button-list">
								<a class="arrow" href="/Idea/Detail/@item.Id">
									Read more<i class='bx bx-chevron-right'></i>
								</a>
								<span class="badge bg-primary rounded-pill"><i class="fa fa-eye"></i>@item.Views</span>
								<span class="badge bg-success rounded-pill"><i class="fa fa-thumbs-up"></i>@item.Likes</span>
								<span class="badge bg-danger rounded-pill"><i class="fa fa-thumbs-down"></i>@item.Dislikes</span>
							</div>
							<div class="clear"></div>
						</div>
					}
				</div>
			</section>
		</div>

	</section>
</div>