@model Idea
<div class="container p-3">
    <div class="row pt-4">
        <div class="col">
            <h2>Idea Detail</h2>
        </div>
    </div>
</div>
<div class="container-ideas">
    <dl class="row">
        <dt class="col-sm-4">
            Topic Name
        </dt>
        <dd class="col-sm-8">@ViewBag.TopicName</dd>
        <dt class="col-sm-4">
            Category Name
        </dt>
        <dd class="col-sm-8">@ViewBag.CategoryName</dd>
        <dt class="col-sm-4">
            Title
        </dt>
        <dd class="col-sm-8">@Model.Title</dd>
        @if (Model.Description != null)
        {
            <dt class="col-sm-4">
                Description
            </dt>
            <dd class="col-sm-8">@Model.Description</dd>
        }
        <dt class="col-sm-4">
            Create Day
        </dt>
        <dd class="col-sm-8">@Model.CreateDatetime</dd>
        @if (Model.Path != null)
        {
            <dt class="col-sm-4">
                File
            </dt>
            <dd class="col-sm-8">
                <a class="col-sm-8" href="~/@Model.Path" download>Download</a>
            </dd>
        }
        <dt class="col-sm-4">
            View
        </dt>
        <dd class="col-sm-8">@Model.View</dd>
        <dt class="col-sm-4">
            Like
        </dt>
        <dd class="col-sm-8">#</dd>
        <dt class="col-sm-4">
            Dislike
        </dt>
        <dd class="col-sm-8">#</dd>

    </dl>
</div>

<div class="button-group"> 
        <a class="btn btn-info like">Like</a>
        <a class="btn btn-danger dislike">Dislike</a>
        <a class="btn btn-light text-white backto" asp-controller="Idea" asp-action="View" asp-route-id=@Model.TopicId>Back to Topic View</a>
</div>
<hr />
<form class="cmt" action="#" method="post">

    <div>
        <label for="comment">Comment:</label>
        <textarea id="comment" name="comment" rows="4" required></textarea>
    </div>
    <div>
        <input class="form-check-input" type="checkbox" id="show-name" name="show-name">
        <label class="form-check-label" for="show-name">Show my name</label>
    </div>
    <button type="submit" class="btn btn-success send">Send</button>
</form>


