@model Idea
<div class="container p-3">
    <div class="row pt-4">
        <div class="col">
            <h2>Idea Detail</h2>
        </div>
    </div>
</div>
<div class="container-ideas">
    <dl class="row">
        <dt class="col-sm-4">
            Topic Name
        </dt>
        <dd class="col-sm-8">@Model.Topic.Name</dd>
        <dt class="col-sm-4">
            Category Name
        </dt>
        <dd class="col-sm-8">@Model.Category.Name</dd>
        <dt class="col-sm-4">
            Title
        </dt>
        <dd class="col-sm-8">@Model.Title</dd>
        @if (Model.Description != null)
        {
            <dt class="col-sm-4">
                Description
            </dt>
            <dd class="col-sm-8">@Model.Description</dd>
        }
        <dt class="col-sm-4">
            Create Day
        </dt>
        <dd class="col-sm-8">@Model.CreateDatetime</dd>
        @if (Model.Path != null)
        {
            <dt class="col-sm-4">
                File
            </dt>
            <dd class="col-sm-8">
                <a class="col-sm-8" href="~/@Model.Path" download>Download</a>
            </dd>
        }
        <dt class="col-sm-4">
            View
        </dt>
        <dd class="col-sm-8">@Model.Views</dd>
        <dt class="col-sm-4">
            Like
        </dt>
        <dd class="col-sm-8">@Model.Likes</dd>
        <dt class="col-sm-4">
            Dislike
        </dt>
        <dd class="col-sm-8">@Model.Dislikes</dd>

    </dl>
</div>
<div class="button-group">
    <a class="btn btn-light text-white backto" asp-controller="Idea" asp-action="View" asp-route-id=@Model.TopicId>Back to Topic View</a>
    <div class="group-button">
        @*<a class="btn btn-info like">Like</a>
        <a class="btn btn-danger dislike">Dislike</a>*@
        @await Component.InvokeAsync("React", Model.Id)
    </div>
</div>
<hr />
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <form class="cmt" action="#" method="post">
                    <div>
                        <label for="comment">Leave a comment:</label>
                        <textarea id="comment" name="comment" rows="4" required></textarea>
                    </div>
                    <div class="form-idea">
                        <div class="showname">
                            <input class="form-check-input" type="checkbox" id="show-name" name="show-name">
                            <label class="form-check-label" for="show-name">Show name</label>
                            <button type="submit" class="btn btn-success send">Send</button>
                        </div>                       
                    </div>                   
                </form>
            </div>
            <div class="col-sm-5 col-md-6 col-12 pb-3">
                <h1>Comments</h1>
                <div class="comment mt-3 text-justify">                   
                    <h4>Jhon Doe</h4>
                    <span>- 20 October, 2018</span>
                    <br>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic aliquam vero sequi velit molestias doloremque molestiae dicta?</p>
                </div>
                <div class="comment mt-4 text-justify">
                    <h4>Rob Simpson</h4>
                    <span>- 20 October, 2018</span>
                    <br>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic aliquam vero sequi velit molestias doloremque molestiae dicta?</p>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('body').on('click', '.btnLike', function () {
                var id = $(this).data("id");
                let token = $('input[name="__RequestVerificationToken"]').val();
                $.ajax({
                    url: '/idea/like',
                    type: 'POST',
                    data: {
                        __RequestVerificationToken: token,
                        id: id
                    },
                    success: function (rs) {
                        if (rs.success) {
                            location.reload();
                        }
                    }
                });
            });
            $('body').on('click', '.btnDislike', function () {
                var id = $(this).data("id");
                let token = $('input[name="__RequestVerificationToken"]').val();
                $.ajax({
                    url: '/idea/dislike',
                    type: 'POST',
                    data: {
                        __RequestVerificationToken: token,
                        id: id
                    },
                    success: function (rs) {
                        if (rs.success) {
                            location.reload();
                        }
                    }
                });
            });
        });
    </script>
}